DJANGO_SECRET_KEY=change-this-in-production
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1,82.39.165.60,web,nginx
CSRF_TRUSTED_ORIGINS=http://localhost:8088,http://127.0.0.1:8088,http://82.39.165.60:8088

POSTGRES_DB=codetools
POSTGRES_USER=codetools
POSTGRES_PASSWORD=change-this-db-password

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@code-tools.local
DJANGO_SUPERUSER_PASSWORD=change-this-admin-password

HTTP_PORT=8088
